<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Personal Web Space</title>
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
</head>
<body style="background: url('../static/img/background.jpg') no-repeat;background-size: 100%">
<div style="text-align: center;margin-top:300px">
<form action="main" method="POST">
    <p>用户名: <input type=text name=username placeholder="默认用户：{{ username }}">
    <p>密&nbsp;码: <input type=text name=password placeholder="初始密码:{{ password }}">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type=submit value=登&nbsp;&nbsp;&nbsp;&nbsp;陆>
</form>
</div>
<div style="text-align: center;position:fixed;width:100%;bottom:10px;left:0;">
    <p>Copyright &copy; 2016 Pretang CMDB Web System</p>
</div>
</body>
</html>