<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Personal Web Space</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/base_v1.0.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
    <div class="floatrighttop">
        <p><a target="myiframe" href="pretangportal">初唐官网</a></p>
        <p><a target="myiframe" href="klfportal">客立方官网</a></p>
        <p><a target="myiframe" href="klfwap">客立方Wap</a></p>
        <p><a target="myiframe" href="klfbackend">klf业务后台</a></p>
        <p><a target="myiframe" href="subkgj">客管家</a></p>
        <p><a target="myiframe" href="subwgj">物管家</a></p>
        <p><a target="myiframe" href="broker">经纪人</a></p>
    </div>
    <iframe class="floatdown" id="myiframe" name="myiframe"></iframe>
</body>
</html>